
.ph-paragraph-label {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 1000px;
  padding: 2px 4px;
  white-space: nowrap;
  color: $white;
  transition: transform 300ms ease, opacity 300ms ease;
  transform: translateY(calc(-100% - 4px));
  z-index: 4000;
  pointer-events: none;
}

.show-paragraphs {
  &.show-paragraphs-labels .paragraph .ph-paragraph-label {
    transform: translateY(-4px);
    opacity: 1;
  }

  // level 1
  .paragraph {
    position: relative;

    .ph-paragraph-border {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border: 5px solid $ph-level-1;
      pointer-events: none;
      overflow: hidden;
    }
    .ph-paragraph-label {
      background-color: $ph-level-1;
    }
    &:hover {
      .ph-paragraph-label {
        transform: translateY(-4px);
        opacity: 1;
      }
    }

    // level 2
    .paragraph {
      .ph-paragraph-border {
        border-color: $ph-level-2;
      }
      .ph-paragraph-label {
        background-color: $ph-level-2;
      }

      // level 3
      .paragraph {
        .ph-paragraph-border {
          border-color: $ph-level-3;
        }
        .ph-paragraph-label {
          background-color: $ph-level-3;
        }

        // level 4
        .paragraph {
          .ph-paragraph-border {
            border-color: $ph-level-4;
          }
          .ph-paragraph-label {
            background-color: $ph-level-4;
          }

          // level 5
          .paragraph {
            .ph-paragraph-border {
              border-color: $ph-level-5;
            }
            .ph-paragraph-label {
              background-color: $ph-level-5;
            }

            // level 6
            .paragraph {
              .ph-paragraph-border {
                border-color: $ph-level-6;
              }
              .ph-paragraph-label {
                background-color: $ph-level-6;
              }
            }
          }
        }
      }
    }
  }
}


//.ph-show-3d {
//  html {
//    transform: perspective(900px) rotateX(23deg) rotateZ(-14deg) rotateY(34deg) translate3d(210px, 0, -280px) scale3d(0.7, 0.7, 1);
//    transform-style: preserve-3d;
//    background: gray;
//  }
//
//  .paragraph {
//    position: relative;
//    transform-style: preserve-3d;
//    transform: translateZ(10px);
//  }
//
//  .ph-front {
//    position: absolute;
//    width: 100%;
//    height: 10px;
//    bottom: 0;
//    transform: rotateX(90deg);
//    transform-origin: bottom center;
//    background: orange;
//    left: 0;
//  }
//
//  .ph-left {
//    position: absolute;
//    width: 10px;
//    height: 100%;
//    left: 0;
//    top: 0;
//    transform: rotateY(90deg);
//    transform-origin: left center;
//    background: orange;
//  }

//}