
.ph-toggles {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: z(toggles-container, default);
  .user-logged-in & {
    top: 85px;
  }
}

.ph-toggle {
  position: relative;
  display: inline-block;
  z-index: z(toggles-container, ph-toggle);
  @include ph-button($ph-brand-1);
}
.ph-labels-toggle {
  display: inline-block;
  position: absolute;
  z-index: z(toggles-container, labels-toggle);
  @include ph-button($ph-brand-1);
  top: 60px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 0ms ease, top 300ms ease;
  transition-delay: 0ms, 300ms, 0ms;
  .show-paragraphs & {
    opacity: 1;
    top: 65px;
    visibility: visible;
    transition-delay: 0ms, 0ms, 0ms;
  }
}

.ph-key {
  background: linear-gradient(to right, $ph-level-1, $ph-level-2, $ph-level-3, $ph-level-4, $ph-level-5, $ph-level-6);
  height: 10px;
  width: 120px;
  margin-bottom: 10px;
  margin-left: auto;
}