////
/// Settings
////

$ph-brand-1: #a476dc !default;

$ph-level-1: #1d45c1 !default;
$ph-level-2: #14b814 !default;
$ph-level-3: #d4d23f !default;
$ph-level-4: #e2934a !default;
$ph-level-5: #dd4747 !default;
$ph-level-6: #d645af !default;

$white: #fff !default;

$ph-z-layers: (
  toggles-container: (
    default: 9999,
    ph-toggle: 1,
    labels-toggle: 0
  ),
);
