////
/// Button styles
////

@mixin ph-button($color) {
  appearance: none;
  background-color: $color;
  border-radius: 1000px;
  border: 2px solid $white;
  color: $white;
  padding: 4px 12px;
  transition: background-color 300ms ease;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($color, 20%);
    color: $white;
  }
}
